<div id="p-payment-method" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
  <div class="panel-body">
    <form data-parsley-validate>
      <input type="radio" name="payment-method" id="cc" value="cc"> <label for="cc">Cartão de Crédito</label><br/>
      <input type="radio" name="payment-method" id="bb" value="bb"> <label for="bb">Boleto Bancário</label><br/>
      <input type="radio" name="payment-method" id="db" value="db"> <label for="db">Depósito Bancário</label>
    </form>
  </div>
</div>
