<div id="p-freight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
  <div class="panel-body">
    <form data-parsley-validate>
      <label id="PAC"></label>
      <br/>
      <label id="SEDEX"></label>
    </form>
  </div>
</div>
