<div id="p-payment" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
  <div class="panel-body">
    <form action="" class="">
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label for="exampleInputPassword1">Número do cartão</label>
            <input type="text" class="form-control" name="credit_card_number">
          </div>
          <div class="col-md-2">
            <label for="exampleInputPassword1">Código</label>
            <input type="text" class="form-control" name="credit_card_code">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label for="exampleInputPassword1">Nome do cliente</label>
            <input type="text" class="form-control" name="credit_card_client_name">
          </div>
          <div class="col-md-1">
            <label for="exampleInputPassword1">Mês</label>
            <input type="text" class="form-control" name="credit_card_month">
          </div>
          <div class="col-md-1">
            <label for="exampleInputPassword1">Ano</label>
            <input type="text" class="form-control" name="credit_card_year">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <label for="exampleInputPassword1">Nº de Parcelas</label>
            <select name="credit_card_quota" id="quota" class="form-control">
              <option value="">Selecione</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
