<section class="client-account">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title"><a href="#u-account" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne"><span class="fa fa-fw fa-user"></span> Minha conta</a></div>
      </div>
      <div id="u-account" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <%= link_to 'Visualizar minhas pesquisas', search_path %>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</section>

<%= javascript_include_tag 'site/busca-cep' %>
